# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs


# IDEA
.idea

# config
dsr/wechat/config/*
nodejs/wechat/config/*
nodejs/server/config/*
!dsr/wechat/config/log4js.js
!dsr/wechat/config/menu.js

# other
.settings
document
wechat/pubic/MP_verify_LJbPzQIUgHgWsebu.txt
