<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <title>
    DSR 评价
  </title>
  <link rel="stylesheet" href="/jquery-weui/lib/weui.min.css">
  <link rel="stylesheet" href="/jquery-weui/css/jquery-weui.min.css">
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/font.css" />
</head>
</head>

<body>
  <div class="page" id="page_comment">
    <div class="box">
      <div class="box_comment">
        <span class="box_comment_text">你好，<strong id="name"></strong></span>
      </div>
      <div class="box_score">
        <span class="box_score_text">积分：<strong id="score"></strong></span>
      </div>
    </div>

    <div class="info">
      <div class="weui_cells weui_cells_form">

        <div class="weui_cell">
          <div class="weui_cell_hd"><label class="weui_label">DSR姓名</label></div>
          <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" id="dsrname" type="text" placeholder="请选择DSR的姓名">
          </div>
        </div>

        <div class="weui_cell">
          <div class="weui_cell_hd"><label for="" class="weui_label">到店日期</label></div>
          <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" id="date" placeholder="请选择到店日期" />
          </div>
        </div>
      </div>
    </div>

    <!-- 打分 -->
    <div class="content">
      <h3>请为此次的拜访打分</h3>

      <div class="content_score">
        <div class="content_title">
          <h4>服务质量</h4>
        </div>
        <div class="content_star" id="serve">
          <span class="icon-star-empty icon" value-id="1"></span>
          <span class="icon-star-empty icon" value-id="2"></span>
          <span class="icon-star-empty icon" value-id="3"></span>
          <span class="icon-star-empty icon" value-id="4"></span>
          <span class="icon-star-empty icon" value-id="5"></span>
        </div>
      </div>
      <!-- 四星 五星 -->
      <div class="hide" id="serve_4">
        <!-- <div class="weui_cells weui_cells_checkbox">
          <label class="weui_cell weui_check_label" for="s11">
            <div class="weui_cell_hd">
              <input type="checkbox" class="weui_check" name="checkbox1" id="s11" checked="checked">
              <i class="weui_icon_checked"></i>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
              <p>拜访及时且周期固定</p>
            </div>
            </label>
          <label class="weui_cell weui_check_label" for="s12">
            <div class="weui_cell_hd">
              <input type="checkbox" name="checkbox1" class="weui_check" id="s12">
              <i class="weui_icon_checked"></i>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
              <p>介绍产品耐心</p>
            </div>
          </label>
        </div> -->
        <div class="content_checkbox_column">
          <label class="content_checkbox_label">
            <input name="conent_1" type="checkbox" value="拜访及时且周期固定" />
            拜访及时且周期固定
          </label>
          <label class="content_checkbox_label">
            <input name="Fruit" type="checkbox" value="介绍产品耐心" />
            介绍产品耐心
          </label>
        </div>
      </div>
      <!-- 三星 -->
      <div class="hide" id="serve_3">
        <div class="content_checkbox_column">
          <label class="content_checkbox_label">
            <input name="conent_1" type="checkbox" value="拜访间隔较长时间" />
            拜访间隔较长时间
          </label>
          <label class="content_checkbox_label">
            <input name="Fruit" type="checkbox" value="沟通不够耐心" />
            沟通不够耐心
          </label>
        </div>
      </div>
      <!-- 二星 -->
      <div class="hide" id="serve_2">
        <div class="content_checkbox_column">
          <label class="content_checkbox_label">
            <input name="conent_1" type="checkbox" value="拜访不规律且间隔一个月以上" />
            拜访不规律且间隔一个月以上
          </label>
          <label class="content_checkbox_label">
            <input name="Fruit" type="checkbox" value="回答问题敷衍不耐心" />
            回答问题敷衍不耐心
          </label>
        </div>
      </div>
      <!-- 一星 -->
      <div class="hide" id="serve_1">
        <div class="content_checkbox_column">
          <label class="content_checkbox_label">
            <input name="conent_1" type="checkbox" value="回答店主问题态度急躁" />
            回答店主问题态度急躁
          </label>
          <label class="content_checkbox_label">
            <input name="Fruit" type="checkbox" value="拜访间隔两个月以上" />
            拜访间隔两个月以上
          </label>
        </div>
      </div>


      <div class="content_score">
        <div class="content_title">
          <h4>专业技能</h4>
        </div>
        <div class="content_star" id="skill">
          <span class="icon-star-empty icon" value-id="1"></span>
          <span class="icon-star-empty icon" value-id="2"></span>
          <span class="icon-star-empty icon" value-id="3"></span>
          <span class="icon-star-empty icon" value-id="4"></span>
          <span class="icon-star-empty icon" value-id="5"></span>
        </div>
      </div>

      <!-- 四星 五星 -->
      <div class="hide" id="skill_4">
        <div class="content_checkbox_column">
          <label class="content_checkbox_label">
              <input name="conent_1" type="checkbox" value="产品知识熟悉" />
              产品知识熟悉
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="能给予提升生意的建议" />
              能给予提升生意的建议
            </label>
        </div>
      </div>
      <!-- 三星 -->
      <div class="hide" id="skill_3">
        <div class="content_checkbox_column">
          <label class="content_checkbox_label">
              <input name="conent_1" type="checkbox" value="没有给予提升生意的建议" />
              没有给予提升生意的建议
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="简单提及促销装和新品" />
              简单提及促销装和新品
            </label>
        </div>
      </div>
      <!-- 二星 -->
      <div class="hide" id="skill_2">
        <div class="content_checkbox_column">
          <label class="content_checkbox_label">
              <input name="conent_1" type="checkbox" value="产品知识比较陌生" />
              产品知识比较陌生
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="没有介绍新品和促销装" />
              没有介绍新品和促销装
            </label>
        </div>
      </div>
      <!-- 一星 -->
      <div class="hide" id="skill_1">
        <div class="content_checkbox_column">
          <label class="content_checkbox_label">
              <input name="conent_1" type="checkbox" value="基本不了解产品知识" />
              基本不了解产品知识
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="在店主询问后不清楚促销装和新品" />
              在店主询问后不清楚促销装和新品
            </label>
        </div>
      </div>


      <div class="content_score">
        <div class="content_title">
          <h4>补货质量</h4>
        </div>
        <div class="content_star" id="supplement">
          <span class="icon-star-empty icon" value-id="1"></span>
          <span class="icon-star-empty icon" value-id="2"></span>
          <span class="icon-star-empty icon" value-id="3"></span>
          <span class="icon-star-empty icon" value-id="4"></span>
          <span class="icon-star-empty icon" value-id="5"></span>
        </div>
      </div>

      <!-- 四星 五星 -->
      <div class="hide" id="supplement_4">
        <div class="content_checkbox_column">
          <label class="content_checkbox_label">
              <input name="conent_1" type="checkbox" value="" />
              补货售出效果好
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="" />
              及时调整滞销产品
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="" />
              及时处理临期产品
            </label>
        </div>
      </div>
      <!-- 三星 -->
      <div class="hide" id="supplement_3">
        <div class="content_checkbox_column">
          <label class="content_checkbox_label">
              <input name="conent_1" type="checkbox" value="" />
              补货数量略多
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="" />
              补货售出效果一般
            </label>
        </div>
      </div>
      <!-- 二星 -->
      <div class="hide" id="supplement_2">
        <div class="content_checkbox_column">
          <label class="content_checkbox_label">
              <input name="conent_1" type="checkbox" value="" />
              缺货较多
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="" />
              补货过多产生囤积
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="" />
              补货种类不丰富
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="" />
              未经沟通补充一些新品
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="" />
              补充了不太符合商店定位的产品
            </label>
        </div>
      </div>
      <!-- 一星 -->
      <div class="hide" id="supplement_1">
        <div class="content_checkbox_column">
          <label class="content_checkbox_label">
              <input name="conent_1" type="checkbox" value="" />
              缺货严重，有很多断码
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="" />
              补货数量严重超标
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="" />
              补临期产品
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="" />
              补货同一产品过多
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="" />
              补货滞销严重
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="" />
              未经沟通补充过多新品
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="" />
              补充新品完全不符合商店定位
            </label>
        </div>
      </div>


      <div class="content_score">
        <div class="content_title">
          <h4>助销服务</h4>
        </div>
        <div class="content_star" id="help">
          <span class="icon-star-empty icon" value-id="1"></span>
          <span class="icon-star-empty icon" value-id="2"></span>
          <span class="icon-star-empty icon" value-id="3"></span>
          <span class="icon-star-empty icon" value-id="4"></span>
          <span class="icon-star-empty icon" value-id="5"></span>
        </div>
      </div>

      <!-- 四星 五星 -->
      <div class="hide" id="help_4">
        <div class="content_checkbox_column">
          <label class="content_checkbox_label">
              <input name="conent_1" type="checkbox" value="" />
              帮助调整产品摆放位置
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="" />
              帮助安装货架档条
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="" />
              帮忙调整产品价格
            </label>
        </div>
      </div>
      <!-- 三星 -->
      <div class="hide" id="help_3">
        <div class="content_checkbox_column">
          <label class="content_checkbox_label">
              <input name="conent_1" type="checkbox" value="" />
              对产品进行简单调整摆放
            </label>
          <label class="content_checkbox_label">
              <input name="Fruit" type="checkbox" value="" />
              安装了一些产品档条
            </label>
        </div>
      </div>
      <!-- 二星 -->
      <div class="hide" id="help_2">
        <div class="content_checkbox_column">
          <label class="content_checkbox_label">
              <input name="conent_1" type="checkbox" value="" />
              没有整理摆放产品
            </label>
        </div>
      </div>
      <!-- 一星 -->
      <div class="hide" id="help_1">
        <div class="content_checkbox_column">
          <label class="content_checkbox_label">
              <input name="conent_1" type="checkbox" value="" />
              基本不了解产品知识
            </label>
        </div>
      </div>


      <div class="login_button">
        <a href="javascript:;" class="weui_btn weui_btn_primary" id="next">下一步</a>
      </div>

    </div>

  </div>

  <div class="page hide" id="page_comment_next">
    <div class="content">
      <div class="content_score">
        <div class="content_title">
          <h4>总体评价</h4>
        </div>
        <div class="content_star" id="overall">
          <span class="icon-star-empty icon" value-id="1"></span>
          <span class="icon-star-empty icon" value-id="2"></span>
          <span class="icon-star-empty icon" value-id="3"></span>
          <span class="icon-star-empty icon" value-id="4"></span>
          <span class="icon-star-empty icon" value-id="5"></span>
        </div>
      </div>

      <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary">
            <textarea class="weui_textarea" placeholder="您还有什么想说的" rows="3" id="text"></textarea>
            <div class="weui_textarea_counter"></div>
          </div>
        </div>
      </div>

      <div class="login_button">
        <a href="javascript:;" class="weui_btn weui_btn_primary" id="overall_btn">提交评价</a>
      </div>
    </div>
  </div>

  <input type="text" class="hide" id="openId" value="<%= openId %>" />
  <input type="text" class="hide" id="shopKeepperId" value="<%= shopkeeperId %>" />
  <script src="/jquery-weui/lib/jquery.min.js"></script>
  <script src="/jquery-weui/js/jquery-weui.min.js"></script>
  <script src="/js/store.min.js"></script>
  <script type="text/javascript" src="/js/comment.js"></script>
</body>

</html>
