<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/jquery-weui/lib/weui.min.css">
  <link rel="stylesheet" href="/jquery-weui/css/jquery-weui.min.css">
  <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
  <div class="page">
    <div class="page__hd">
      <h1 class="page__title">“验证绑定手机号</h1>
    </div>

    <div class="weui_cells weui_cells_form">

      <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">手机号</label></div>
        <div class="weui_cell_bd weui_cell_primary">
          <input class="weui_input" type="tel" id="phone" placeholder="请输入手机号">
        </div>
      </div>

      <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">验证码</label></div>
        <div class="weui_cell_bd weui_cell_primary">
          <input class="weui_input" id="code" type="number" placeholder="请输入验证码">
        </div>
        <div class="weui_cell_ft">
          <button class="weui_btn weui_btn_primary weui_btn_mini" id="btnSendCode">获取验证码</button>
        </div>
      </div>
    </div>

    <div class="button_sp_area">
      <a href="javascript:;" class="weui_btn weui_btn_primary login_btn" id="btnLogin">验证绑定手机号</a>
    </div>

    <input type="text" class="hide" id="openId" value="<%= openId %>">
  </div>

  <script src="/jquery-weui/lib/jquery.min.js"></script>
  <script src="/jquery-weui/js/jquery-weui.min.js"></script>
  <script src="/js/store.min.js"></script>
  <script type="text/javascript" src="/js/login.js"></script>
</body>

</html>
